// COLORS
$color-text-light-grey: #666;
$color-text-dark-grey: #444;
$color-text-main: #283136;
// END COLORS
// FONTS
$font-family-basic: 'Roboto', 'Arial', 'Helvetica', sans-serif;
// END FONTS
// SIZES
$size-text-main: 16px;
$lh-text-main: 1.5;
$lh-text-subtitle: 1.1;
// END SIZES